<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="methods" thread-count="4">
    <listeners>
        <listener class-name="io.qameta.allure.cucumber7jvm.AllureCucumber7Jvm"/>
    </listeners>
    <test name="Parallel Test" parallel="methods" thread-count="4">
        <classes>
            <class name="org.nxg.TestRun"/>
            <!-- Add additional classes here -->
            <!-- <class name="org.nxg.AnotherTestClass"/> -->
        </classes>
    </test>
</suite>
